* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    transition: all 500ms ease;
}

.box {
    align-content: center;
    padding: 50px;
    width: 40%; /* Reduce the width here */
    margin: 2em auto;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 254, 0.2);
}
.box h1 {
    text-align: left;
    font-size: 2em;
    color: #333;
    border-radius: 10px 10px 0px 0px;
}
input[type="password"]{
    padding: 10px;
}

.box input,
.box button {
    display: block;
    padding: 10px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    background-color: #fff;
    border: none;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
}

.box button {
    width: 100%;
    border-color: transparent;
    border-radius: 10px;
    outline: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #fbaecd;
    font-weight: 800;
    cursor: pointer;
    margin-top: 2em;
    padding: 5px;
}

.box button:hover {
    border-color: #e36698;
    background-color: transparent;
    color: #333;
} 

.box button.is-loading::after {
    animation: spinner 500ms infinite linear;
    content: "";
    position: absolute;
    margin-left: 2em;
    border: 2px solid #000;
    border-radius: 100%;
    border-right-color: transparent;
    border-left-color: transparent;
    height: 1em;
    width: 4%;
}

.information-text {
    color: #ddd;
}

@media screen and (max-width: 320px) {
    .box {
        padding-left: 1em;
        padding-right: 1em;
    }

    .box h1 {
        font-size: 1.5em !important;
    }
}

@media screen and (min-width: 900px) {
    .box {
        width: 30%; /* Further reduce the width for larger screens */
    }
}
